.App {
  text-align: center;
}

.floor-plan{
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 75%;;
}

.living-room{
  background-color: lightblue;
  padding: 50px;
}

.kitchen{
  background-color: lightyellow;
  padding: 50px;
}

.oven {
  background-color: olive;
}

.sink {
  background-color: orange;
}

.bedroom{
  background-color: lightseagreen;
  margin: 10px;
}

.bath{
  background-color: lightpink;
  margin: 40px;
}


@media (prefers-reduced-motion: no-pre7ference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
